* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  min-height: 100vh;
  min-width: 100%;
  background: #ecf0f3;
  /* background: rgb(34, 33, 37); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.container {
  margin: 20px;
  display: flex;
  align-items: center;
  height: 55vh;
  background: #ecf0f3;
  /* background: rgb(34, 33, 37); */

  width: 350px;
  border-radius: 20px;
  box-shadow: 13px 13px 20px #cdced1, -13px -13px 20px #fff;
  /* box-shadow: 13px 13px 20px #000000, -10px -10px 20px rgb(97, 95, 95); */
  position: relative;
}

.container h2 {
  position: absolute;
  top: 100px;
  left: 120px;
}

.container p {
  position: absolute;
  padding: 40px;
  top: 125px;
  font-size: 17px;
}

.container h2,
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#html {
  color: rgb(21, 24, 204);
}

#css {
  color: rgb(211, 9, 144);
}

#js {
  color: #8b008b;
}

#js h2 {
  position: absolute;
  left: 95px;
}

.container:hover {
  box-shadow: inset 7px 7px 10px #cdced1, inset -8px -8px 8px #fff;

  /* box-shadow: inset 7px 7px 10px #000000, inset -8px -8px 8px rgb(97, 95, 95); */
}

.btn {
  position: absolute;
  width: 5%;
  right: 30px;
  top: 20px;
  margin-left: 30px;
}

.btn button {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 5px;
}

.btn button a {
  color: rgb(217, 14, 224);
  font-weight: bolder;
  text-decoration: none;
}
